body {
	background-color: #FEFEFE;
	padding: 0;
	margin: 0;
}

/* Navigation Bar*/
#nav a {
	color: #5a5a5a;
	font-family: helvetica;
	font-size: 25px;
	list-style-type: none;
	text-decoration: none;
	text-transform: lowercase;
}

#nav li{
	list-style-type: none;
	display: block;
}

#nav{
	position: fixed;
	padding: 30px 60px;
	margin: 0;
}

/* Index Page Body */
.title p {
	padding-top: 31%;
	padding-bottom: 0%;
	padding-right: 20%;
	padding-left: 45%;
	font-size: 200px;
	font-family: courier;
	margin: 0px;
}

/* About Me Section Body 600px*/

.about #c {
	font-family: monospace;
	font-weight: bold;
	font-size: 33px;
	margin: 0;
	padding-left: 300px;
	padding-right: 300px;
	padding-top: 219px;
	text-transform: uppercase;
}

.about #t {
	font-size: 38px;
	margin: 0;
	padding: 30px 477px;
}

.about #o {
	font-family: tahoma;
	font-size: 32px;
	margin: 0;
	padding: 35px 635px;
}

.about #k {
	font-family: courier;
	font-weight: bold;
	font-size: 49px;
	margin: 0;
	padding-top: 37px;
	padding-left: 900px;
	padding-bottom: 37px;
}

.bio {
	margin-top: 80px;
	padding-left: 25%;
	padding-right: 25%;
}

.bio #pic {
	/*margin: 0;*/
	/*padding-top: 80px;*/
	padding-left: 25%;
	padding-right: 25%;
}

.bio #int {
	font-family: helvetica;
	font-size: 20px;
}

/* Resume Body */
#resume {
	margin-left: 300px;
}

/* Contact Body */

.contact #pic1 {
	text-align: center;
}

.contact #g {
	text-align: center;
	font-size: 40px;
	font-family: helvetica;
}

.contact #em {
	text-align: center;
	font-size: 40px;
	font-family: helvetica;
	font-weight: bold;
	margin: 0px;
}

a[href^="mailto:"]{
	text-decoration: none;
	color: #444;
}

a[href^="mailto:"]:hover{
	text-decoration: none;
	color: #bbb;
}
/*josh
.column{
	margin: 0 auto;
	display: block;
	width: 80%;
	font-size: 1em;
	background-color: #ff4020;
} */